<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CegahCovid2</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-nav-shadow">
        <div class="container-fluid">
            <div class="container"><img src="../assets/img/brand.png"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                        <li class="nav-item"><button class="btn btn-outline-secondary" type="button"><img class="rounded-circle img-profil-nav mr-2" src="../assets/img/img2.png">Ramadansyah</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="top-70">
        <div class="p-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-7">
                        <div class="d-flex justify-content-between">
                            <h3>Profil saya</h3><button class="btn btn-outline-primary" type="button">Ubah</button>
                        </div>
                        <div class="card p-3 mt-2">
                            <div class="d-flex"><img class="rounded-circle img-profil" src="../assets/img/img2.png">
                                <div class="ml-4">
                                    <h5 class="mb-0">Ramadansyah</h5>
                                    <p class="mb-0">1232-5464-2312</p>
                                    <p>ramadansyah@gmail.com</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6>Tanggal Lahir</h6>
                                <p>04 Januari 1991</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6>Jenis Kelamin</h6>
                                <p>Laki-laki</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6>Kota</h6>
                                <p>Bandung</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6>NIK</h6>
                                <p>23113218745766</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>